.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-primary);
}

.main {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}